#header{
    /* position: absolute; */
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(18, 101, 179);
    z-index: 4;
}
    #header h5{
        position: absolute;
        top: 10px;
        color: white;
        left: 5%;
    }
    #home-btn {
        position: absolute;
        width: auto;
        left: 25%;
    }
    #main-btn {
        position: absolute;
        width: auto;
        left: 70%;
    }
    #main-btn i, #home-btn i{
        top: 6px;
        font-size: 20px;
    }
    #main-btn div{
        top: 6px;
        color: #fff;
        text-decoration: underline;
        margin: 0 0 0 0;
        border: none;
    }
    
    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }
    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }
    #lblCartCount {
        font-size: 12px;
        background: #ff0000;
        color: #fff;
        /* padding: 0 5px;
        vertical-align: top;
        margin-left: -10px; 
        margin-top: 6px; */
        padding: 3px 3px 3px 3px;
        margin-left: -15px;
        margin-top: 0;
    }

    #main-btn a, #home-btn a{
        text-decoration: none;
    }
    /* .head-item{
        border: none;
    }
    .head-item i{
        margin-top: 0;
        font-size:20px;
    } */
    #search_wrap{
        position: absolute;
        left: 30%;
        width: 40%;
        height: 100%;
    }
    #search_core{
        position: absolute;
        top: 15%;
        left: 10%;
        height: 70%;
        width: 80%;
    }
        #search_core span{
            position: absolute;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.0rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
            max-height: 35px;
        }
        #search_core input{
            padding-left: 2.375rem;
            max-height: 35px;
            outline: none;
        }
#center{
    position: absolute;
    width: 100%;
    margin-top: 50px;
}
    #left-space{
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;
    }
    #right-space{
        position: absolute;
        top: 0;
        left: 95%;
        width: 5%;
    }
    #main{
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: auto;
    }
    #category-bar{
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 2;
        background-color: white;
    }
    .icon{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .li-space{
        margin-right: 10px;
        margin-top: 10px;
    }
    ul li:hover,
    ul li:hover a {
        color: blue; 
        font-weight: bold;
        cursor: pointer;
    }
#content-wrap{
    position: absolute;
    width: 1180px;
    top: 50px;
    left: calc((100% - 1180px)/2);
    z-index: 1;
}
.product-wrap{
    background: white;
    position: relative;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    justify-self: center;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 5px 10px #404040;
}

.product-wrap :hover{
    cursor: pointer;
}

.product-image-wrap{
    height: 250px;
    transition: all .2s ease-in-out;
}

.product-image-wrap img{
    width: 250px;
    height: 250px;
    display: block;
}

.product-image-wrap :hover{
    transform: scale(1.5);
    cursor: pointer; 
}

.product-info-wrap{
    position: absolute;
    top: 260px;
    width: 250px;
    height: 100px;
    z-index: 4;
    background-color: white;
}

.product-info{
    position: absolute;
    font-size: 18px;
    left: 10px;
    display: block;
    max-width: 230px;
}

.product-name{
    font-size: 20px;
    font-weight: bold;
}
.product-price{
    top: 30px;
}

.product-quantity{
    position: absolute;
    left: 10px;
    top:60px;
    height: 35px;
    width: 230px;
    text-align: left;
}

.product-quantity div{
    width: fit-content;
    text-align: left;
}

.product-quantity input{
    position: absolute;
    width: 100px;
    margin-left: 10px;
}

.product-info h2{
    font-size: 18px;
    margin-left: 0px;
}

.add-product-btn-wrap{
    position: absolute;
    top: 360px;
    width: 230px;
    left: 10px;
}

.add-product-btn-wrap button{
    margin-top: 5px;
    width: 230px;
    height: 35px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border: none;
}

.add-to-cart-btn{
    background-color: rgb(25, 175, 100);
}

.buy-btn{
    background-color: #ff0000;
}

.hl{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
}

#store-info{
    position: absolute;
    width: 100%;
    height: 200px;
}
#store-info i{
    margin-left: 10px;
    font-size: 16px;
}