#header{
    /* position: absolute; */
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(18, 101, 179);
    z-index: 3;
}
    #home-btn {
        position: absolute;
        width: auto;
        left: 5%;
    }
    #main-btn {
        position: absolute;
        width: auto;
        left: 85%;
    }
    .head-item{
        border: none;
    }
    .head-item i{
        margin-top: 0;
        font-size:20px;
    }
    #search_wrap{
        position: absolute;
        left: 30%;
        width: 40%;
        height: 100%;
    }
    #search_core{
        position: absolute;
        top: 15%;
        left: 10%;
        height: 70%;
        width: 80%;
    }
        #search_core span{
            position: absolute;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.0rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
            max-height: 35px;
        }
        #search_core input{
            padding-left: 2.375rem;
            max-height: 35px;
        }
#center{
    position: absolute;
    width: 100%;
    margin-top: 50px;
}
    #left-space{
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;
    }
    #right-space{
        position: absolute;
        top: 0;
        left: 95%;
        width: 5%;
    }
    #main{
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: auto;
    }
    #category-bar{
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 2;
        background-color: white;
    }
    .icon{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .li-space{
        margin-right: 10px;
    }
    ul li:hover,
    ul li:hover a {
        color: blue; 
        font-weight: bold;
        cursor: pointer;
    }
#content-wrap{
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 1;
}