#left-bar{

}

#product-management-wrap{
    position: absolute;
    top: 10px;
    height: 30px;
    width: 50%;
    left: 50%;
}
#select-category{
    position: absolute;
    left: 50%;
    top: 10px;
    width: 15%;
    height: 30px;
}
#select-category select{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: rgb(72, 106, 219) solid 1px;
}

#search-by-name{
    position: absolute;
    left: 66%;
    width: 20%;
    height: 50px;
    top: 10px;
}

#search-by-name span{
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 1.5rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    max-height: 30px;
}
#search-by-name input{
    padding-left: 2.375rem;
    max-height: 30px;
    border: rgb(72, 106, 219) solid 1px;
}

#table_panel{
    position: absolute;
    width: 100%;
    top: 50px;
    background: #fff;
    overflow-y: auto;
}
    #table_panel table {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        overflow: auto;
        font-size: 15px;
        font-family: Monsterrat;
        font-weight: lighter;
        margin-bottom: 100px;
        border-radius: 5px;
        border: none;
    }
        #table_panel table tr {
            height: 50px;
            word-wrap: break-word;
        }
        #table_panel table th {
            position: sticky; 
            top: 0;
            text-align: center;
            z-index: 0;
            background: white;
            border: none;
        }
        #table_panel table td{
            border-top: 1px solid rgb(200, 200, 200);
            border-right: none;
            border-left: none;
            border-bottom: none;
        }
        #table_panel th:nth-child(1), #table_panel td:nth-child(1) {
            width: 6%;
            text-align: center;
        }
        #table_panel th:nth-child(2), #table_panel td:nth-child(2){
            width: 10%;
        }
        #table_panel th:nth-child(3), #table_panel td:nth-child(3) {
            width: 15%;
        }
        #table_panel th:nth-child(4), #table_panel td:nth-child(4) {
            width: 35%;
        }
        #table_panel th:nth-child(5), #table_panel td:nth-child(5) {
            width: 13%;
        }
        #table_panel th:nth-child(6), #table_panel td:nth-child(6) {
            width: 10%;
        }
        #table_panel th:nth-child(7), #table_panel td:nth-child(7) {
            width: 6%;
        }
        #table_panel th:nth-child(8), #table_panel td:nth-child(8) {
            width: 6%;
        } 